<h1>Heroes</h1>
<hr>

<div class="row animated fadeIn">
  <div class="col-md-12 text-right">
    <button class="btn btn-outline-primary" type="button" name="button" [routerLink]="['/heroe','nuevo']">Nuevo héroe</button>
  </div>
</div>

<br>

<div class="row animated fadeIn">
  <div class="col-md-12">

    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Casa</th>
            <th scope="col" class="text-right">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let k of heroes | keys; let i = index;">
            <th scope="row">{{ i + 1}}}</th>
            <td>{{heroes[k].nombre}}</td>
            <td>{{heroes[k].casa}}</td>
            <td class="text-right">
              <button type="button" class="btn btn-outline-success" name="button" [routerLink]="['/heroe', k]"> Editar </button>
              <button type="button" class="btn btn-outline-danger left-10" name="button" (click)="borraHeroe(k);"> Eliminar </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="alert alert-info" role="alert" *ngIf="(heroes | keys).length === 0 && !loading">
        <strong>No hay registros que mostrar</strong>
      </div>
      <div class="alert alert-warning" role="alert" *ngIf="loading">
        <strong>Cargando...</strong> por favor espere unos segundos.
      </div>
    </div>

  </div>
</div>
