/* You can add global styles to this file, and also import other style files */
.main-container{

  margin-top: 50px;
}

.left-10{
  margin-left: 10px;
}

.has-danger{
  color: red;
}

.has-danger input{
  border: solid 1px red;
}
